<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="navbar navbar-inverse navbar-fixed-top" th:fragment="navbar" >
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navLinks">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Hyra</a>
        </div>

        <div class="collapse navbar-collapse" id="navLinks">

            <ul class="nav navbar-nav">
                <li > <a th:href="@{/items/new}">Lease Item</a></li>
                <li><a th:href="@{/category}"> Categories</a></li>
            </ul>
        </div>

    </div>
</div>
</body>
</html>