<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Form</h1>
<form action="#" th:action="@{/login}" method="post">
    <input type="text" name="username" />
    <input type="password" name="password" />
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <p><input type="submit" value="Login" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>